$color-focus: rgb(172,50,76);
$color-red: #f20000;
$color-bg: #ebebeb;
$color-green: #728C4A;

$color-gray-white: rgb(230,230,230);
$color-gray-light: rgb(41,41,41);
$color-gray-medium: rgb(18,18,18);
$color-gray-dark: rgb(10,10,10);

$shadow: 0px 3px 3px 1px rgba(0,0,0,0.2);


$margin: 8px;
$padding: 8px;